<nav>
    <a class="navbar-brand" href="/">Drafty</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-label="Toggle navigation"></button>
    
    <!--
    {{#if editHistoryPath}}
        <span class="navbar-brand" href="#"><i class="fas fa-history"></i> Edit History1</span>
    {{/if}}
    -->

    <ul class="navbar-nav-sm">
        <li id="list-sheets">
            Sheets
            <div id="list-sheets-horizontal" role="group" aria-label="sheets">
                {{#eachInMap sheetNameToURL}}
                    <button type="button" class="btn{{selected ../sheetName key}}" data-href="{{value}}">
                       {{key}}
                    </button>
                {{/eachInMap}}
            </div>
        </li>
        {{#if editHistoryPath}}
            <li class="navbar-brand" href="#"><i class="fas fa-history"></i> Edit History nav1</li>
        {{/if}}
        <li data-href="/account">Your Profile</li>
        <!-- not available yet <li data-href="/account/edits">Your edits</li> -->
        <li data-href="/help">Help</li>
         {{#unless signedIn}}
             <li data-href="/login">Sign in</li>
             <li data-href="/signup">Sign up</li>
         {{/unless}}
         {{#if signedIn}}
             <li data-href="/logout">Sign out</li>
         {{/if}}
    </ul>

    <div class="collapse navbar-collapse">
         <ul id="navbar-nav" class="navbar-nav">
            <li class="nav-item dropdown">
                <span id="navbar-sheet">
                    {{#if sheetName}}
                        {{sheetName}}
                    {{else}}
                        All sheets
                    {{/if}}
                </span>
                <div class="dropdown-menu">
                    {{#eachInMap sheetNameToURL}}
                        <a class="dropdown-item" href="/{{value}}">
                        {{key}}
                        </a>
                    {{/eachInMap}}
                </div>
            </li>
            {{#if editHistoryPath}}
                <li class="nav-item text-white font-weight-bold" href="#"><i class="fas fa-history"></i> Edit History</li>
            {{/if}}
         </ul>
    </div>

    <div class="collapse navbar-collapse justify-content-end">
         <ul class="navbar-nav">
             <li class="nav-item dropdown">
                 <span id="navbar-user" class="{{getUserSignedInClass signedIn}}">
                 </span>
                 <div class="dropdown-menu dropdown-menu-right">
                     <a class="dropdown-item" href="/account">
                         Your Profile
                     </a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="/help">
                         Help
                     </a>
                     {{#unless signedIn}}
                         <a class="dropdown-item" href="/login">
                             Sign in
                         </a>
                         <a class="dropdown-item" href="/signup">
                             Sign up
                         </a>
                     {{/unless}}
                     {{#if signedIn}}
                         <a class="dropdown-item" href="/logout">
                             Sign out
                         </a>
                     {{/if}}
                 </div>
             </li>
         </ul>
    </div>
</nav>
<script src="/js/bundles/navbar.js"></script>
