<nav>
    <a class="navbar-brand" href="/">Drafty</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-label="Toggle navigation"></button>

    <ul class="navbar-nav-sm">
        <li id="list-sheets">
            Sheets
            <div id="list-sheets-horizontal" role="group" aria-label="sheets">
                {{#eachInMap sheetNameToURL}}
                    <button type="button" class="btn{{selected ../sheetName key}}" data-href="{{value}}">
                       {{key}}
                    </button>
                {{/eachInMap}}
            </div>
        </li>
        <li class="nav-item nav-item text-white font-weight-bold">
            <a href="/{{sheetURL}}/edit_history" class="nav-label">
                <span id="navbar-credits">
                    Edit History
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-label" id="navbar-addrow-select">
                <span id="navbar-addrow">
                    Add Row
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-label" id="navbar-delrow-select">
                <span id="navbar-delrow">
                    Delete Row
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-label" id="navbar-didyouknow-select">
                <span id="navbar-didyouknow">
                    Did you know
                </span>
            </a>
        </li>

        <li data-href="/account">Your Profile</li>
        <!-- not available yet <li data-href="/account/edits">Your edits</li> -->
        <li data-href="/help">Help</li>
         {{#unless signedIn}}
             <li data-href="/login">Sign in</li>
             <li data-href="/signup">Sign up</li>
         {{/unless}}
         {{#if signedIn}}
             <li data-href="/logout">Sign out</li>
         {{/if}}
    </ul>

    <div class="collapse navbar-collapse">
         <ul id="navbar-nav" class="navbar-nav">
            {{#if (menuHasMultipleSheets sheetNameToURL)}}
                <li class="nav-item dropdown">
                    <span id="navbar-sheets">
                        {{#if sheetName}}
                            {{sheetName}}
                        {{else}}
                            All sheets
                        {{/if}}
                    </span>
                    <div class="dropdown-menu">
                        {{#eachInMap sheetNameToURL}}
                            <a class="dropdown-item" href="/{{value}}">
                            {{key}}
                            </a>
                        {{/eachInMap}}
                    </div>
                </li>
                
            {{else}}
                <li class="nav-item">
                    <a href="/{{sheetURL}}" class="nav-label">
                        <span id="navbar-sheet">
                            {{sheetName}}
                        </span>
                    </a>
                </li>
            {{/if}}
            
            <li class="navbar-item">
                <li class="nav-item">
                    <a href="/{{sheetURL}}/edit_history" class="nav-label">
                        <span id="navbar-credits">
                            Edit History
                        </span>
                    </a>
                </li>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-label" id="navbar-addrow-select">
                    <span id="navbar-addrow">
                        Add Row
                    </span>
                </a>
            </li>
            <li class="navbar-item">
                <li class="nav-item">
                    <a href="#" class="nav-label" id="navbar-delrow-select">
                        <span id="navbar-delrow">
                            Delete Row
                        </span>
                    </a>
                </li></li><li class="navbar-item">
                <li class="nav-item">
                    <a href="#" class="nav-label" id="navbar-didyouknow-select">
                        <span id="navbar-didyouknow">
                            Did you know
                        </span>
                    </a>
                </li>
            </li>
         </ul>
    </div>

    <div class="collapse navbar-collapse justify-content-end">
         <ul class="navbar-nav">
             <li class="nav-item dropdown">
                 <span id="navbar-user" class="{{getUserSignedInClass signedIn}}"></span>
                 <div class="dropdown-menu dropdown-menu-right">
                     <a class="dropdown-item" href="/account">
                         Your Profile
                     </a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="/help">
                         Help
                     </a>
                     {{#unless signedIn}}
                         <a class="dropdown-item" href="/login">
                             Sign in
                         </a>
                         <a class="dropdown-item" href="/signup">
                             Sign up
                         </a>
                     {{/unless}}
                     {{#if signedIn}}
                         <a class="dropdown-item" href="/logout">
                             Sign out
                         </a>
                     {{/if}}
                 </div>
             </li>
         </ul>
    </div>
</nav>
<script src="/js/bundles/navbar.js"></script>
